.hero {
  background-color: #394046;
  height: 85vh;
  top: 0;
  z-index: -1;
}

.heroImage {
  object-position: center;
  object-fit: cover;
  z-index: -2;
  filter: brightness(60%) grayscale(50%);
}

.heroText {
  position: relative;
  top: 50%;
}

.heroText h2 {
  color: var(--primary-inverse);
}
