.hero {
  background-color: #394046;
  height: 500px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.heroImage {
  object-position: center;
  object-fit: cover;
  z-index: -2;
}

.heroText {
  z-index: inherit;
  margin-top: 50%;
}

.heroMargin {
  margin-bottom: 500px;
}

/* header {
  padding: var(--spacing-company) 0;
}

header hgroup> :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
} */
