/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* Light-blue Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #039be5;
  --primary-hover: #0288d1;
  --primary-focus: rgba(3, 155, 229, 0.125);
  --primary-inverse: #fff;
}

/* Light-blue Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #039be5;
    --primary-hover: #03a9f4;
    --primary-focus: rgba(3, 155, 229, 0.25);
    --primary-inverse: #fff;
  }
}

/* Light-blue Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --primary: #039be5;
  --primary-hover: #03a9f4;
  --primary-focus: rgba(3, 155, 229, 0.25);
  --primary-inverse: #fff;
}

/* Light-blue (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --whatsapp: #25d366;
}

/*TODO: change px to rem; check if this applies to everything or just text */

html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
}

section > h1,
footer > h1#contact {
  padding-top: calc(var(--font-size) * 2);
  margin-top: calc(var(--font-size) * -2);
}

h1 > mark {
  background-color: var(--h1-color);
  color: var(--primary-inverse);
}

[aria-busy='true']:not(input, select, textarea, html):empty {
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

[aria-busy='true']:not(input, select, textarea, html):empty::before {
  width: 2rem;
  height: 2rem;
}

.center-text {
  text-align: center;
}

.backdrop {
  width: 100%;
  background-color: var(--background-color);
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  overflow: hidden;
}

.whatsapp {
  background-color: var(--whatsapp);
  border-color: var(--whatsapp);
}

.error {
  color: var(--del-color) !important;
}

.muted {
  color: var(--muted-color) !important;
}

.spacer {
  margin-bottom: var(--spacing);
}

dialog article > header .close {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 1;
}
