.bigNumContainer {
  border-radius: 100%;
  margin-bottom: 1rem;
  width: 12.5rem;
  height: 12.5rem;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  background: linear-gradient(
    135deg,
    rgba(82, 197, 255, 1) 0%,
    rgba(3, 155, 229, 1) 35%,
    rgba(10, 120, 175, 1) 75%,
    rgba(15, 95, 136, 1) 90%,
    rgba(27, 40, 50, 1) 100%
  );
  /* animation: 250ms ease 1 normal burst; */
}

.bigNum {
  margin: 0;
  font-size: 4rem;
  color: var(--primary-inverse);
  text-shadow: var(--card-box-shadow);
}

@keyframes burst {
  0% {
    background-color: hsla(200, 100%, 77%, 1);
    box-shadow: 0 0 0.1rem 0rem hsl(200, 100%, 66%);
  }
  25% {
    box-shadow: 0 0 0.3rem 0.5rem hsla(200, 100%, 66%, 0.75);
  }
  50% {
    box-shadow: 0 0 0.5rem 1rem hsla(200, 100%, 66%, 0.5);
  }
  75% {
    box-shadow: 0 0 0.7rem 2rem hsla(200, 100%, 66%, 0.25);
  }
  100% {
    box-shadow: 0 0 1.5rem 3rem hsla(200, 100%, 66%, 0);
  }
}
