.slider {
  margin-bottom: var(--typography-spacing-vertical);
}

.slider > div {
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  animation: 15s linear infinite normal loop;
}

.slider > div > * {
  margin-right: 100px;
}

.slider > div > img {
  max-width: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
