.slider {
  max-width: 800px;
  margin: 0 auto var(--typography-spacing-vertical);
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #fff,
    transparent 10%,
    transparent 90%,
    #fff
  );
}

.slider > div {
  position: relative;
  z-index: -1;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  animation: 15s linear infinite normal loop;
}

.slider > div > * {
  margin-right: 100px;
}

.slider > div > img {
  max-width: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
