.slider {
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  animation: 10s linear infinite normal loop;
}

.slider > * {
  margin-right: 4rem;
}

.slider > img {
  max-width: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
