.map-container {
  height: 250px;
}

#services article {
  margin-top: 0;
}

#services article img {
  height: 75px;
  width: auto;
  object-fit: contain;
}

#services article footer {
  background-color: var(--contrast);
  color: var(--contrast-inverse);
  padding: var(--block-spacing-horizontal);
  display: flex;
  justify-content: center;
  align-items: center;
}

#experience {
  margin-bottom: 0;
}

#experience p {
  margin-bottom: var(--block-spacing-vertical);
}

@media (max-width: 767px) {
  #services article footer {
    min-height: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #services article footer {
    min-height: 6.8rem;
  }
}

@media (min-width: 992px) {
  #services article footer {
    min-height: 0;
  }
}

@media (min-width: 1200px) {
  #services article footer {
    min-height: 10.675rem;
  }
}
