.contact {
  background-color: var(--primary-hover);
}

.contact * {
  color: var(--primary-inverse);
}

.contact a {
  text-decoration: underline;
}

.contactAddrs {
  text-align: left;
  width: auto;
  margin: auto;
  display: inline-block;
}

.contactAddrs li {
  list-style: none inside;
}

.contact button {
  width: auto;
  margin: auto;
}

.contactForm article {
  text-align: left;
  padding-bottom: calc(var(--block-spacing-vertical) / 2);
}

.contactForm form {
  margin-bottom: 0;
}

.contactForm header {
  background-color: var(--contrast);
  color: var(--contrast-inverse);
  margin-bottom: calc(var(--block-spacing-vertical) / 2);
}

.contactForm * :not(header, button) {
  color: var(--contrast);
}

.contactForm button {
  width: 100%;
}

.contactForm div.submitted {
  width: 100%;
}

.contactForm svg {
  margin: var(--block-spacing-vertical) 0;
}
